/*
   Css Framework 
   =============
   	 - see http://www.contentwithstyle.co.uk/Articles/17/a-css-framework
   	   for more info.
*/
@import url("tools.css");
@import url("typo.css");
@import url("forms.css");
/* 
  Swap layout stylesheet: 
	layout-navtop-localleft.css
	layout-navtop-subright.css
	layout-navtop-3col.css
	layout-navtop-1col.css
	layout-navleft-1col.css
	layout-navleft-2col.css
*/
@import url("layout-navtop-localleft.css");
@import url("layout.css");

.defaultTable {
    border: 1px solid #5280C1;
    border-right: 0;
    border-top: 0;
    text-align: center;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    width: 100%;
}


.defaultTable th {
    background-color: #8FADE4;
    font-weight: normal;
    border-right: 1px solid #5280C1;
    border-top: 1px solid #5280C1;
    padding: 2px;
    text-align:center;
}

.defaultTable th a {
    font-weight: normal;
    font-size:9pt;
    color:black;
    text-decoration:none;
}

.defaultTable th a:HOVER {
    text-decoration:underline;
}

.defaultTable td {
    border-top: 1px solid #5280C1;
    border-right: 1px solid #5280C1;
    padding: 3px;
}
        